.hero {
  background-image: url("../media/about-hero.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .hero {
    background-position-x: 55%;
  }
}

/*=========================
 # What We Do
=========================*/
.what-we-do {
  background-color: var(--color-5);
}
.what-we-do .section-heading h2 {
  color: #eee;
}
.what-we-do .text-center {
  color: #ddd;
}
.what-we-do .shadow {
  box-shadow: 0 3px 15px #01629ea9 !important;
}

.what-we-do .nav-pills-custom .nav-link {
  color: #888;
  background: #fff;
  cursor: pointer;
  position: relative;
  padding-top: 17px !important;
  height: 60px;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
.what-we-do .nav-pills-custom .nav-link.active {
  color: var(--color-4);
  background: #fff;
}
@media (min-width: 992px) {
  .what-we-do .nav-pills-custom .nav-link::before {
    content: '';
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}
.what-we-do .nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.what-we-do .tab-pane {
  padding: 30px 40px;
  height: 288px;
}
.what-we-do .tab-pane h4 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--color-4);
}
.what-we-do .tab-pane p {
  color: #444;
}

@media (max-width: 992px) {
  .what-we-do .tab-pane {
    height: 100%;
  }
}

/*=========================
 # Journey
=========================*/
.journey {

}
.journey .row {
  position: relative;
}
#line {
  position: absolute;
  right: 50%;
  transform: scaleY(0);
  width: 1px;
  height: 100vh;
  background: #333;
}

.journey .left-side {
  background-image: url('../media/journey.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  right: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  color: #fff;
}
.journey .right-side.panels {
  background-color: var(--color-3);
  position: absolute;
  left: 100%;
  z-index: 10;
}
.journey .row > * {
  padding: 0;
}


.journey .row .col-lg-4 {
  position: relative;
}

.journey .panels {
  position:absolute;
  overflow:hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.journey .panels .panel {
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.journey .panel:nth-child(1) {
  background-color: var(--color-3);
}
.journey .panel:nth-child(2) {
  background-color: var(--color-2);
}
.journey .panel:nth-child(3) {
  background-color: var(--color-3);
}
.journey .panel:nth-child(4) {
  background-color: var(--color-2);
}
.journey .panel:nth-child(5) {
  background-color: var(--color-3);
}

/*=========================
 # Team
=========================*/
.team .team-card {
  margin: 0 10px;
  height: 320px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.team .team-card .team-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  outline: 2px solid #bbb;
  filter: grayscale(0%);
  outline-offset: 150px;
  overflow: hidden;
  transition: 0.5s ease;
}
.team .team-card .team-img img {
  width: 100%;
  background: linear-gradient(to bottom, #111, #111, var(--color-5), var(--color-3));
}
.team .team-card:hover {
  background: linear-gradient(to bottom, var(--color-5), var(--color-5), var(--color-5), var(--color-3));
}
.team .team-card:hover .team-img {
  overflow: visible;
  background: transparent;
  opacity: 0.8;
  outline-offset: -20px;
}

.team .team-card .team-text {
  margin-top: 20px;
  margin-left: 15px;
  position: absolute;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.team .team-card .team-text h6 {
  font-weight: 700;
  font-size: 18px;
}
.team .team-card .team-text p {
  font-weight: 500;
  font-size: 15px;
}
.team .team-card:hover .team-text {
  color: #fff;
  margin-top: 0;
}

.team .team-card .team-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  background-color: #fff;
  padding: 8px 15px;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #ddd;
}
.team .team-card .team-icon i {
  position: relative;
  left: 0;
  color: var(--color-3);
  transition: 0.3s ease;
}
.team .team-card:hover .team-icon {
  box-shadow: none;
}
.team .team-card:hover .team-icon i {
  transform: scaleX(1.2);
}

.team .modal {
  background-color: #00103159;
}
.team .modal .modal-header {
  border: none;
}
.team .modal .modal-header button {
  opacity: 1;
  color: #fff;
  border-radius: 50%;
  font-size: 28px;
  margin: -30px -30px 0 auto;
  padding: 7px 13px 20px 13px;
  z-index: 10;
  background: none;
  background-color: var(--color-2);
}

.team .modal .modal-body {
  margin-top: -57px;
  padding: 0
}
.team .modal .modal-body .team-image img {
  width: 100%;
  background-color: #111;
}
.team .modal .modal-body .team-head {
  margin-top: 40px;
  padding: 20px;
}
.team .modal .modal-body .team-head h1 {
  font-weight: 700;
  color: #222;
}
.team .modal .modal-body .team-head h5 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: var(--color-3);
}
.team .modal .modal-body .team-desc {
  overflow-y: scroll;
  height: 230px;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 40px;
}
.team .modal .modal-body .team-desc::-webkit-scrollbar {
  width: 10px;
}
.team .modal .modal-body .team-desc::-webkit-scrollbar-track {
  background: #e2e2e2;
}
.team .modal .modal-body .team-desc::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .team .modal .modal-body .team-image {
    height: 400px;
    overflow: hidden;
  }
  .team .modal .modal-body .team-head {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .team .modal {
    padding: 30px;
  }
  .team .modal .modal-body .team-image {
    height: 300px;
  }
}