.hero {
  background-image: url("../media/about-hero.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .hero {
    background-position-x: 55%;
  }
}

/*=========================
 # What We Do
=========================*/
.what-we-do {
  background-color: var(--color-5);
}
.what-we-do .section-heading h2 {
  color: #eee;
}
.what-we-do .text-center {
  color: #ddd;
}
.what-we-do .shadow {
  box-shadow: 0 3px 15px #01629ea9 !important;
}

.what-we-do .nav-pills-custom .nav-link {
  color: #888;
  background: #fff;
  cursor: pointer;
  position: relative;
  padding-top: 17px !important;
  height: 60px;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
.what-we-do .nav-pills-custom .nav-link.active {
  color: var(--color-4);
  background: #fff;
}
@media (min-width: 992px) {
  .what-we-do .nav-pills-custom .nav-link::before {
    content: '';
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}
.what-we-do .nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.what-we-do .tab-pane {
  padding: 30px 40px;
  height: 288px;
}
.what-we-do .tab-pane h4 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--color-4);
}
.what-we-do .tab-pane p {
  color: #444;
}

@media (max-width: 992px) {
  .what-we-do .tab-pane {
    height: 100%;
  }
}


/*=========================
 # Journey
=========================*/
.journey {
  background-color: #222;
}
.journey .js-transitions-disabled * {
  transition: none !important;
}
.journey .carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
  perspective: 50vw;
  perspective-origin: 50% 50%;
}
.journey .carousel__control {
  position: absolute;
  height: 200px;
  width: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  margin: auto;
  z-index: 1;
}
.journey .carousel__control a {
  color: #ffffff66;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  position: relative;
  display: block;
  width: 100%;
  margin-top: 40%;
  text-align: right;
}
.journey .carousel__control a:hover:before {
  background-color: #ffffff66;
  transition: 0.3s ease;
}
.journey .carousel__control a.active {
  color: #fff;
}
.journey .carousel__control a.active:before,
.journey .carousel__control a.active:hover:before {
  background-color: #ffffffcc;
  left: -10px;
}
.journey .carousel__control a:before {
  position: absolute;
  top: 35%;
  left: -5px;
  margin: auto;
  height: 3px;
  width: 18px;
  background: #ffffff33;
  content: '';
  display: block;
}
.journey .carousel__stage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateZ(-50vh);
}
.journey .spinner {
  position: absolute;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: -17px;
  right: auto;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 1s;
  backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform: rotateX(0);
}
.journey .js-spin-fwd .spinner {
  transform: rotateX(-90deg);
}
.journey .js-spin-bwd .spinner {
  transform: rotateX(90deg);
}
.journey .js-spin-fwd .spinner--right {
  transform: rotateX(90deg);
}
.journey .js-spin-bwd .spinner--right {
  transform: rotateX(-90deg);
}
.journey .spinner--right {
  right: 0;
  left: auto;
}
.journey .spinner__face {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.journey .spinner__face.js-next {
  display: block;
  transform: rotateX(90deg) translateZ(50vh);
}
.journey .spinner--right .spinner__face.js-next {
  transform: rotateX(270deg) translateZ(50vh);
}
.journey .js-spin-bwd .spinner__face.js-next {
  transform: rotateX(-90deg) translateZ(50vh);
}
.journey .js-spin-bwd .spinner--right .spinner__face.js-next {
  transform: rotateX(-270deg) translateZ(50vh);
}
.journey .js-active {
  display: block;
  transform: translateZ(50vh);
}
.journey .content {
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
}
.journey .spinner--right .content {
  left: -100%;
}
.journey .content__left,
.journey .content__right {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.journey .content__right {
  left: auto;
  right: 0;
}
.journey .content__left {
  background-repeat: no-repeat;
  background-size: cover;
}
.journey .content__left:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
.journey .content__left h1 {
  position: absolute;
  top: 50%;
  margin-top: -3vw;
  text-align: center;
  font-family: oswald;
  font-size: 5vw;
  height: 10vw;
  opacity: 1;
  color: #fff;
  width: 100%;
  letter-spacing: 0.15em;
  line-height: 0.6;
}
.journey .content__left span {
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.2em;
  opacity: 0.9;
  font-family: Merriweather;
}
.journey .content__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.journey .content__right .content__main {
  position: absolute;
  font-family: Merriweather, serif;
  text-align: left;
  color: #fff;
  font-size: 1.3vw;
  padding: 0 8vw;
  line-height: 1.65;
  font-weight: 300;
  margin: 0;
  opacity: 0.8;
}
.journey .content__right .content__main p:last-child {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.85em;
}
.journey .content__right .content__index {
  font-size: 30vh;
  position: absolute;
  right: 20px;
  top: 0;
  opacity: 0.04;
  font-family: oswald;
  color: #fff;
}
[data-type="iceland"] .content__left {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/iceland.jpg");
}
.journey .spinner--right [data-type="iceland"] .content__left {
  background-image: none;
}
[data-type="china"] .content__left {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/china.jpg");
}
.journey .spinner--right [data-type="china"] .content__left {
  background-image: none;
}
[data-type="usa"] .content__left {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/usa.jpg");
}
.journey .spinner--right [data-type="usa"] .content__left {
  background-image: none;
}
[data-type="peru"] .content__left {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/peru.jpg");
}
.journey .spinner--right [data-type="peru"] .content__left {
  background-image: none;
}


/*=========================
 # Team
=========================*/
.team .team-card {
  margin: 0 10px;
  height: 320px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.team .team-card .team-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  outline: 2px solid #bbb;
  filter: grayscale(0%);
  outline-offset: 150px;
  overflow: hidden;
  transition: 0.5s ease;
}
.team .team-card .team-img img {
  width: 100%;
  background: linear-gradient(to bottom, #111, #111, var(--color-5), var(--color-3));
}
.team .team-card:hover {
  background: linear-gradient(to bottom, var(--color-5), var(--color-5), var(--color-5), var(--color-3));
}
.team .team-card:hover .team-img {
  overflow: visible;
  background: transparent;
  opacity: 0.8;
  outline-offset: -20px;
}

.team .team-card .team-text {
  margin-top: 20px;
  margin-left: 15px;
  position: absolute;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.team .team-card .team-text h6 {
  font-weight: 700;
  font-size: 18px;
}
.team .team-card .team-text p {
  font-weight: 500;
  font-size: 15px;
}
.team .team-card:hover .team-text {
  color: #fff;
  margin-top: 0;
}

.team .team-card .team-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  background-color: #fff;
  padding: 8px 15px;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #ddd;
}
.team .team-card .team-icon i {
  position: relative;
  left: 0;
  color: var(--color-3);
  transition: 0.3s ease;
}
.team .team-card:hover .team-icon {
  box-shadow: none;
}
.team .team-card:hover .team-icon i {
  transform: scaleX(1.2);
}

.team .modal {
  background-color: #00103159;
}
.team .modal .modal-header {
  border: none;
}
.team .modal .modal-header button {
  opacity: 1;
  color: #fff;
  border-radius: 50%;
  font-size: 28px;
  margin: -30px -30px 0 auto;
  padding: 7px 13px 20px 13px;
  z-index: 10;
  background: none;
  background-color: var(--color-2);
}

.team .modal .modal-body {
  margin-top: -57px;
  padding: 0
}
.team .modal .modal-body .team-image img {
  width: 100%;
  background-color: #111;
}
.team .modal .modal-body .team-head {
  margin-top: 40px;
  padding: 20px;
}
.team .modal .modal-body .team-head h1 {
  font-weight: 700;
  color: #222;
}
.team .modal .modal-body .team-head h5 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: var(--color-3);
}
.team .modal .modal-body .team-desc {
  overflow-y: scroll;
  height: 230px;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 40px;
}
.team .modal .modal-body .team-desc::-webkit-scrollbar {
  width: 10px;
}
.team .modal .modal-body .team-desc::-webkit-scrollbar-track {
  background: #e2e2e2;
}
.team .modal .modal-body .team-desc::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .team .modal .modal-body .team-image {
    height: 400px;
    overflow: hidden;
  }
  .team .modal .modal-body .team-head {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .team .modal {
    padding: 30px;
  }
  .team .modal .modal-body .team-image {
    height: 300px;
  }
}