.hero {
  background-image: url("../media/resources-hero.png");
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 500px) {
  .hero {
    background-position-x: 55%;
  }
}

.clients-section {
  background-color: #ffffff;
  margin: 25px 0;
  cursor: url('../media/ellipse.png'), auto;
}
.clients-section .custom-cursor {
  position: fixed;
  bottom: 0;
  left: 50%;
  pointer-events: none;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: transparent;
  outline: 2000px solid var(--color-1);
  transition: 0.1s;
  transform: translate(-35%, -35%) scale(1);
  z-index: 0;
}

.clients-section .clients-heading {
  display: inline-block;
  position: relative;
  z-index: 100;
}
.clients-section .clients-heading h1 {
  font-size: 80px;
  font-weight: 600;
  color: #137FBD
}

.clients-section .clients-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.clients-section .client-logos {
  position: relative;
  margin-top: 120px;
}
.clients-section .client-logos img {
  width: 100%;
}
.clients-section .client-logos .col-lg-25 {
  max-width: 20%;
}
.clients-section .client-logos .row {
  margin: 50px auto;
}
.clients-section .client-logos .row-2 {
  width: 85.5%;
}

footer {
  z-index: 1;
  position: relative;
}