/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../media/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}
#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
}
#hero h1 span {
  color: var(--color-3);
}
#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero .icon-box {
  padding: 30px 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  text-align: center;
  transition: ease-in-out 0.3s;
}
#hero .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: var(--color-2);
  transition: ease-in-out 0.3s;
}
#hero .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}
#hero .icon-box:hover {
  border-color: var(--color-2);
  background-color: var(--color-2);
}
#hero .icon-box:hover i {
  color: #fff;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.products .row {
  margin: 0;
  --bs-gutter-y: 1.5rem
}
.products .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  box-shadow: 0px 5px 15px #3b3b3b71;
  border-radius: 4px;
  overflow: hidden;
  transition: .5s ease;
}
.products .content img {
  width: 120px;
  margin-top: 7px;
  border-radius: 50%;
  outline: 4px solid var(--color-3);
  outline-offset: -4px;
  transition: .5s ease;
}
.products .content:hover img {
  outline: 320px solid var(--color-3);
}
.products .content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-4);
  font-weight: 600;
  transition: .5s ease;
}
.products .content p {
  font-size: 15px;
  text-align: center;
  transition: .5s ease;
}
.products .content:hover h2, .products .content:hover p {
  color: white;
}
.products .content a {
  margin: 12px 0;
  background: var(--color-3);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid var(--color-3);
  font-size: 14px;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 25px;
  transition: .5s ease;
}
.products .content a:hover {
  border-radius: 4px;
}
.products .content:hover a {
  background: #fff;
  color: var(--color-3);
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding-top: 50px;
}
.clients .swiper-slide img {
  opacity: 0.7;
  transition: 0.3s ease;
  filter: grayscale(100%);
}
.clients .swiper:hover .swiper-slide img {
  filter: none;
  opacity: 1;
  cursor:grab;
}
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-2);
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: url("../media/counts-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;
  position: relative;
}
.counts::before {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.counts .title {
  position: relative;
  color: #fff;
  margin-bottom: 40px;
}
.counts .title h3 {
  font-size: 36px;
  font-weight: 700;
}
.counts .counters span {
  font-size: 48px;
  display: block;
  font-weight: 700;
  color: var(--color-2);
}
.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
}
@media (min-width: 1200px) {
  .counts {
    background-attachment: fixed;
  }
}