.hero {
  background-image: url("../media/solutions-hero.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .hero {
    background-position-x: 55%;
  }
}

/* --------------------
    Modules Section 
-------------------- */
/* Tabs */
.modules-section .nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
.modules-section .nav-item {
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modules-section .nav-link {
  border: 1px solid var(--color-1);
  border-radius: 0;
  width: 250px;
  height: 100px;
  color: var(--color-1);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  background: #f8f8f8;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.modules-section .nav-link .nav-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--color-1);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.modules-section .nav-link .nav-link-icon i {
  font-size: 24px;
  color: #fff;
  margin-left: 2px;
  transition: all 0.3s ease;
}
.modules-section .nav-link .nav-link-text {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.modules-section .tab-content .tab-pane {
  text-align: center;
}

.modules-section .nav-item .nav-link:hover .nav-link-icon {
  background-color: #fff;
}
.modules-section .nav-item .nav-link:hover .nav-link-icon i {
  color: var(--color-1);
}
.modules-section .nav-link:hover {
  color: #fff;
  background: var(--color-1);
}
.modules-section .nav-link:after{
  content: "";
  display: block;
  border-top: 200px solid #ffffff98;
  border-left: 200px solid transparent;
  margin-top: -15%;
  margin-left: 100%;
  opacity: 0;
  position: absolute;
  transform: scale(2);
  transition: all 0.3s ease-in-out 0s;
}
.modules-section .nav-link:hover:after{
  margin-left: 0;
  opacity: 0.1;
}

.modules-section .nav-item .nav-link.active .nav-link-icon {
  background-color: #fff;
}
.modules-section .nav-item .nav-link.active .nav-link-icon i {
  color: var(--color-1);
}
.modules-section .nav-item .active.nav-link {
  background: var(--color-1);
  color: #fff;
}
.modules-section .nav-item .active.nav-link:after{
  content: "";
  display: block;
  border-top: 200px solid #ffffff98;
  border-left: 200px solid transparent;
  margin-top: -15%;
  margin-left: 100%;
  opacity: 0;
  position: absolute;
  transform: scale(2);
  transition: all 0.3s ease-in-out 0s;
}
.modules-section .nav-item .active.nav-link:after{
  margin-left: 0;
  opacity: 0.1;
}

@media screen and (max-width: 900px) {
  .modules-section .nav-link {
    width: 220px;
  }
  .modules-section .nav-link .nav-link-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 756px) {
  .modules-section .nav-item {
    margin: 0 10px;
  }
  .modules-section .nav-link {
    width: 190px;
  }
  .modules-section .nav-link .nav-link-icon {
    width: 35px;
    height: 35px;
  }
  .modules-section .nav-link .nav-link-icon i {
    font-size: 20px;
  }
  .modules-section .nav-link .nav-link-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 680px) {
  .modules-section .nav-link {
    width: 100px;
  }
  .modules-section .nav-link .nav-link-icon {
    margin-right: 0;
  }
  .modules-section .nav-link .nav-link-text {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .modules-section .nav-item .nav-link {
    width: 70px;
    height: 70px;
    padding: 15px 0;
  }
}


/* Slider */
.modules-section .swiper-container {
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.modules-section .swiper-slide {
  color: #fff;
  text-align: left;
  height: 100%;
}
.modules-section .swiper-slide:nth-child(1), .modules-section .swiper-slide:nth-child(6) {
  background: linear-gradient(to right, #0f659b, #5bb3e9);
}
.modules-section .swiper-slide:nth-child(2), .modules-section .swiper-slide:nth-child(7) {
  background: linear-gradient(to right, #134e5e, #33a9ca);
}
.modules-section .swiper-slide:nth-child(3), .modules-section .swiper-slide:nth-child(8) {
  background: linear-gradient(to right, #84bbcf, #4389a2);
}
.modules-section .swiper-slide:nth-child(4), .modules-section .swiper-slide:nth-child(9) {
  background: linear-gradient(to right, #2bc0e4, #4a818f);
}
.modules-section .swiper-slide:nth-child(5), .modules-section .swiper-slide:nth-child(10) {
  background: linear-gradient(to right, #0469a0, #85d8ce);
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
  right: 50px;
}
.modules-section .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 20px) 0;
}
.modules-section .swiper-pagination-bullet {
  height: 30px;
  width: 2px;
  border-radius: 0;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  background: var(--swiper-pagination-bullet-inactive-color,#ddd);
}
.modules-section .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-bullet-inactive-color,var(--color-6));
}
.modules-section .swiper-pagination-bullet span {
  position: absolute;
  width: 230px;
  margin-top: 3px;
  left: -240px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: right;
  color: #ddd;
}
.modules-section .swiper-pagination-bullet-active span {
  color: #fff;
}

.modules-section .swiper-slide .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.modules-section .swiper-slide h1 {
  font-weight: 700;
  font-size: 60px;
}
.modules-section .circle-loader {
  width: 50px;
  height: 50px;
  color: #cccccc80;
  position: relative;
  top: 30px;
}
.modules-section .circle-loader a {
  position: absolute;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px 18px;
}

.modules-section .swiper-slide .slide-body > * {
  margin-top: 40px;
}
.modules-section .swiper-slide .slide-body h5 {
  font-weight: 600;
}
.modules-section .swiper-slide .slide-body p {
  font-size: 14px;
  color: #eee;
}
.modules-section .swiper-slide .slide-body .row {
  justify-content: center;
}



.flip {
	position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1em;
  width: 250px;
  height: 200px;
}

.flip .front, .flip .back {
  display: block;
	color: white;
	width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
	border-radius: 10px;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.8s;
  transition-property: transform, opacity;
}
.flip .front {
	transform: rotateY(0deg);
  background: linear-gradient(135deg, #0c4381 60%, var(--color-4) 10%);
}
.flip .back {
	position: absolute;
	opacity: 0;
	top: 0px;
	left: 12px;
	transform: rotateY(-180deg);
  background: linear-gradient(45deg, #0c4381 60%, var(--color-4) 10%);
}
.flip:hover .front {
	transform: rotateY(180deg);
}
.flip:hover .back {
	opacity: 1;
	transform: rotateY(0deg);
}
.flip .back {
	transform: rotateX(-180deg);
}
.flip:hover .front {
	transform: rotateX(180deg);
}
.flip:hover .back {
	transform: rotateX(0deg);
}

.flip .back p {
  font-size: 13px !important;
  margin-bottom: 0;
}



/* Why Choose Us */
.modules-section .why-us {
  
}

/* Get In Touch */
.modules-section .get-in-touch {
  height: 100%;
  background: url('../media/get-in-touch.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  position: relative;
}
.modules-section .get-in-touch h1 {
  color: #5bbbf3;
  font-weight: 600;
}
.modules-section .get-in-touch a {
  margin-top: 30px;
}

/* Other Modules */
.modules-section .other-modules {
  padding-bottom: 0;
}
.modules-section .other-modules .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modules-section .other-modules .module-card {
	position: relative;
	width: 260px;
	background-color: #fff;
  color: var(--color-4);
	border-radius: 4px;
	padding: 30px 12px 22px 12px;
	margin: 12px;
	text-decoration: none;
	overflow: hidden;
	border: 2px solid #bbb;
  transition: 0.3s ease;
}
.modules-section .other-modules .module-card:hover {
	border: 2px solid var(--color-7);
}
.modules-section .other-modules .module-card h4 {
  font-weight: 600;
}
.modules-section .other-modules .module-card .go-corner {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-7);
	height: 100%;
	width: 50px;
	padding-right: 12px;
	margin-right: -50px;
  transition: 0.5s ease;
}
.modules-section .other-modules .module-card:hover .go-corner {
	margin-right: -20px;
  transform: skew(12deg);
}
.modules-section .other-modules .module-card .go-corner .go-arrow {
  color: white;
	transform: rotate(30deg);
	margin-top: 8px;
	opacity: 0;
  transition: 0.5s ease-in-out;
}
.modules-section .other-modules .module-card:hover .go-corner .go-arrow {
	opacity: 1;
  transform: rotate(0deg);
}

@media screen and (max-width: 576px) {
  .modules-section .other-modules .container {
    flex-wrap: wrap;
  }
}

/* Clients */
.clients {
  padding-top: 60px;
}
.clients .clients-slider {
  height: 120px;
}
.clients .swiper-slide img {
  transition: 0.2s ease;
}
.clients .swiper-slide:hover img {
  transform: scale(1.08);
  cursor:grab;
}
.clients .swiper-pagination {
  margin-top: -10px;
  position: relative;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-2);
}
